@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;

}

body {
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif !important;
}

#container {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 500px;
  overflow: hidden;
}
.IMG {
  transform-origin: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}


